
<div class="grid-stack-item"
     data-gs-x="@Options.X"
     data-gs-y="@Options.Y"
     data-gs-width="@Options.Width"
     data-gs-min-width="@Options.minWidth"
     data-gs-max-width="@Options.maxWidth"
     data-gs-height="@Options.Height"
     data-gs-min-height="@Options.minHeight"
     data-gs-max-height="@Options.maxHeight"
     data-gs-id="@Options.ID"
     data-gs-noMove="@Options.noMove"
     data-gs-noResize="@Options.noResize"
     id="@Options.ElementID">
    <div class="grid-stack-item-content" id="@ContentID">
        @ChildContent
    </div>
</div>
